<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{{ asset('js/test.js') }}" type="text/javascript" />
    </head>
    <body>
        DDOS
    </body>
</html>
