<html>
    <head>
        <script src="{{ asset('js/jquery.min.js') }}" type="text/javascript" />
        <script src="{{ asset('js/test.js') }}" type="text/javascript" />
    </head>
    <body>
        DDOS
    </body>
</html>
